extends adminLay
block content
    body.hold-transition.register-page
        != messages('message', locals)
        if errors 
          each error, i in errors
            div(class="alert alert-danger") #{error.msg}
        .register-box
          .card.card-outline.card-primary
            .card-header.text-center
              a.h1(href='/admin/Adminreg')
                b Add admin
            .card-body
              p.login-box-msg Admin qo'shish
              form(action='/admin/Adminreg' method='post' enctype="multipart/form-data")
                .input-group.mb-3(style="margin-bottom: 0 !important;")
                  input.form-control(style="margin-bottom: 5px !important;" name="AdminName" type='text' placeholder='Name')
                  .input-group-append
                    .input-group-text
                      span.fas.fa-user
                if err
                  p.text-danger(style="margin-left: 7px;")
                    b=err.keyValue.username 
                    span  nomli admin bor!!!
                .input-group.mb-3
                  input.form-control(name="AdminEmail" type='email' placeholder='Email')
                  .input-group-append
                    .input-group-text
                      span.fas.fa-envelope
                .input-group.mb-3
                  input.form-control(name="AdminPass" type='password' placeholder='Password')
                  .input-group-append
                    .input-group-text
                      span.fas.fa-lock
                .custom-file
                  label Rasm qo'shish shart
                  input#customFile(name="file" accept="image/*" type='file')
                br
                br
                .social-auth-links.text-center.mt-2.mb-3
                  button.btn.btn-block.btn-primary
                    i.fas.fa-user-plus.mr-2
                    |  Register






