extends adminLay
block content
  body.hold-transition.sidebar-mini.layout-fixed
   .wrapper
    include adminheader
    .content-wrapper
      // Content Header (Page header)
      .content-header
        .container-fluid
          .row.mb-2
            .col-sm-6
              h1.m-0 Dashboard
          br
          section.content
              .container-fluid
                // Small boxes (Stat box)
                .row
                  .col-lg-3.col-6
                    // small box
                    .small-box.bg-info
                      .inner
                        h3= Admin.length
                        p Admin Registrations
                      .icon
                        i.fas.fa-user-tie
                      a.small-box-footer(href='/admin/Admininf')
                        | More info 
                        i.fas.fa-arrow-circle-right
                  // ./col
                  .col-lg-3.col-6
                    // small box
                    .small-box.bg-success
                      .inner
                        //- const result = memory.free / 1000000000
                        //- const memor = Math.floor(result) / 10
                        h3
                          //| #{memor}
                          |27.9
                          sup(style='font-size: 20px') %
                        p There is space on the server
                      .icon
                        i.ion.ion-stats-bars
                      a.small-box-footer(href='#')
                        | More info 
                        i.fas.fa-arrow-circle-right
                  // ./col
                  .col-lg-3.col-6
                    // small box
                    .small-box.bg-warning
                      .inner
                        h3= data.length
                        p User Registrations
                      .icon
                        i.ion.ion-person-add
                      a.small-box-footer(href='/admin/Userinf')
                        | More info 
                        i.fas.fa-arrow-circle-right
                  // ./col
                  .col-lg-3.col-6
                    // small box
                    .small-box.bg-danger
                      .inner
                        h3=video.length
                        p Courses
                      .icon
                        i.fab.fa-youtube
                      a.small-box-footer(href='/admin/Lessons')
                        | More info 
                        i.fas.fa-arrow-circle-right
                  // ./col
                  // /.row
                  // Main row
    include adminfooter
                
    
    
    
  

    












    