extends layout

block content
    h1 shartnoma tuzish
    - const id = "617472cc6c83d08dc043150c"
    form(action="/contr/"+ id method="post" enctype="multipart/form-data")
      .mb-3
        label.form-label(for='exampleInputEmail1') Karta raqami
        input#exampleInputEmail1.form-control(name="contrKr" type='text' aria-describedby='emailHelp')
      .custom-file
            label.form-label(for='exampleInputEmail1') pul tushgani haqida rasm
            input#customFile(name="file" accept="image/*" type='file')
            br
            br
      button.btn.btn-primary(type='submit') Submit